<template>
  <div>
      <h1>Personajes</h1>
      <div>
        <input type="text" placeholder="Buscar personaje" v-model="search">
      </div>
      <table>
        <thead>
        <th>Sexo</th> 
        <th>Slug</th> 
        <th>Rank</th> 
        <th>Casa</th> 
        <th>Titulos</th> 
        <th>Libros</th> 
        </thead>
        <tbody>
          <tr v-for="(character, index) in resourceCharacters" :key="index" >
            <td>{{ character.sexo }}</td>
            <td>{{ character.slug }}</td>
            <td>{{ character.rank }}</td>
            <td>{{ character.casa }}</td>
            <td>{{ character.titulos }}</td>
            <td>{{ character.libros }}</td>
            <td>
              <router-link v-bind:to="{ name: 'character', params: { characterId: character._id }}">Ver</router-link>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data: () => ({
    characters: [],
    search: '',
  }),
  mounted() {
    // eslint-disable-next-line
    this.getCharacters();
  },
  computed: {
    resourceCharacters() {
      if(this.search) {
        return this.characters.filter((item) => {
          const isSexo = String(item.sexo).toLowerCase().includes(this.search.toLowerCase())
          const isSlug = String(item.slug).toLowerCase().includes(this.search.toLowerCase())
          const isRank = String(item.rank).toLowerCase().includes(this.search.toLowerCase())
          const isCasa = String(item.casa).toLowerCase().includes(this.search.toLowerCase())
          const isTitulos = String(item.titulos).toLowerCase().includes(this.search.toLowerCase())
          const isLibros = String(item.libros).toLowerCase().includes(this.search.toLowerCase()) 
          return isSlug || isRank || isCasa || isTitulos || isLibros
        })
      } else {
        return this.characters;
      }
    }
  },
  methods: {
    async getCharacters() {
      try {
         const { data: characters } =  await axios.get('http://localhost:3000/characters')
         this.characters = characters
      } catch (error) {
        // eslint-disable-next-line
        console.error(error);
      }
    }
  }
}
</script>

<style>
* {
  margin : 0;
  padding : 0;
}
input {
  width: 96%;
  padding: 10px;
}
table {
  text-align : center;
}

thead {
  font-weight : bold;
  background : #cccccc80;
}

th, td {
  width : 10vw;
  padding: 10px;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
