<template>
  <div>
      <h1>Personaje</h1>
      <table>
        <tbody>
          <tr>
            <td>Sexo</td>
            <td>{{ character.sexo }}</td>
          </tr>
          <tr>
            <td>Slug</td>
            <td>{{ character.slug }}</td>
          </tr>
          <tr>
            <td>Rank</td>
            <td>{{ character.rank }}</td>
          </tr>
          <tr>
            <td>Casa</td>
            <td>{{ character.casa }}</td>
          </tr>
          <tr>
            <td>Titulos</td>
            <td>{{ character.titulos }}</td>
          </tr>
          <tr>
            <td>Libro</td>
            <td>{{ character.libros }}</td>
          </tr>
        </tbody>
      </table>
      <router-link to="/">Volver al listado</router-link>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data: () => ({
    character: {},
  }),
  mounted() {
    this.getCharacter()
  },
  methods: {
    async getCharacter() {
      try {
        const { data: character } = await axios.get(`http://localhost:3000/character/${this.$route.params.characterId}`)
        this.character = character
      } catch (error) {
        // eslint-disable-next-line
        console.error(error)
      }
    }
  }
}
</script>

<style>

</style>
